<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.model.dao.KeywordDao">
    <select id="findByKeyword" parameterType="string" resultType="Keyword">
        SELECT * FROM keywords WHERE keyword = #{keyword}
    </select>

    <insert id="insertKeyword" parameterType="Keyword">
        INSERT INTO keywords (keyword)
        VALUES (#{keyword})
    </insert>
</mapper>
